<!DOCTYPE html>
<html>
<head>
  <title>Crime Level 3</title>
  <meta charset="utf-8"/>
</head>
<body>

<h1>
    Pleeg een overval!
</h1>

<div class="brink">
    <p><a href="crime3/brink">Brink overval</a> </p>
    <!--TODO: Add button-->
</div>

<div class="tankstation">
    <p><a href="crime3/tankstation">Tankstation overval</a> </p>
    <!--TODO: Add button-->
</div>

<div class="woning">
    <p><a href="crime3/woning">Woning overval</a> </p>
    <!--TODO: Add button-->
</div>

<div class="kind">
    <p><a href="crime3/kind">kind overval</a> </p>
    <!--TODO: Add button-->
</div>

</body>


</html>
		